
  .btn-task_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
    padding: 50px 0;
  }
  .btn-task_item {
  
    margin: 0 15px 10px;
  
    overflow: hidden;
  
    display: flex;
  }
  .btn-task-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #CCCCCC;
  
    overflow: hidden;
  
    position: relative;
  }
  .btn-task-item_link:hover .btn-task-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .btn-task-item_title {
    min-height: 50px;
    margin: 0 0 25px;
  
    overflow: hidden;
  
    font-weight: bold;
    font-size: 30px;
    color: var( --color-font-primary);
  
    z-index: 2;
    position: relative;
  }
  .btn-task-item_date-box {
    font-size: 18px;
    color: var( --color-font-primary);
  
    z-index: 2;
    position: relative;
  }
  .btn-task-item_date {
    font-weight: bold;
    color: var(--color-secundary);
  
  }
  .btn-task-item_bg {
    height: 128px;
    width: 128px;
    background-color: var(--color-secundary);
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .btn-task_item:nth-child(2n) .btn-task-item_bg {
    background-color: var(--color-quaternary);
  }
  .btn-task_item:nth-child(3n) .btn-task-item_bg {
    background-color: var(--color-primary);
  }
  .btn-task_item:nth-child(4n) .btn-task-item_bg {
    background-color: var(--color-tertiary);
  }
  .btn-task_item:nth-child(5n) .btn-task-item_bg {
    background-color: #cd3e94;
  }
  .btn-task_item:nth-child(6n) .btn-task-item_bg {
    background-color: #4c49ea;
  }
  
  
  
  @media only screen and (max-width: 979px) {
    .btn-task_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .btn-task-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .btn-task-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .btn-task_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .btn-task-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .btn-task-item_link {
      padding: 22px 40px;
    }
    .btn-task-item_date-box {
      font-size: 16px;
    }
  }